mat-grid-tile {
  background: #f1f1f1;
}

mat-grid-tile .text-inside-grid {
  position: absolute;
  left: 5px;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif;
}
