body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

p {
  margin: 0;
}

.spacer {
  margin: 10px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.container {
  margin: 60px auto 10px;
  padding: 0 5px;
}

.item {
  border-radius: .2em;
  padding: 1em;
}
